@import 'normalize';
@import 'font-awesome';

/*------------------------------------------------------------------------------------------------------------
    $VARIABLES + MIXINS
  ------------------------------------------------------------------------------------------------------------*/

@mixin normal-font {
  font-family: "museo-sans",sans-serif;
  font-style: normal;
  font-weight: 100;
}
@mixin normal-fontItalic {
  font-family: "museo-sans",sans-serif;
  font-style: italic;
  font-weight: 100;
}
@mixin medium-font {
  font-family: "museo-sans",sans-serif;
  font-style: normal;
  font-weight: 300;
}

$red:       #ee3c21;
$white:     #fff;
$linkred:   #ee3a29;
  
/*------------------------------------------------------------------------------------------------------------
    $MAIN STYLES
  ------------------------------------------------------------------------------------------------------------*/
body            {@include normal-font;}
h1, h2, h3,
h4, h5, h6, p, 
li, a           {color: $white;}
a:link,
a:visited       {text-decoration: none; color: $white;}
a:hover,
a:active,
a:focus         {}
h3 a:link,
h3 a:visited    {text-decoration: underline; color: $linkred; @include medium-font; font-size: 18px;}
h3 a:hover,
h3 a:active,
h3 a:focus      {text-decoration: none;}
h4              {font-size: 24px; padding-top: 15px; text-transform: capitalize; margin: 0;}
strong          {font-weight: 700;}
ul              {list-style: none;}
li              {display: inline;}
.clear 					{ font-size:0em; line-height:0em; height:0px; position:relative; clear:both;}
sup							{font-size:50%; vertical-align:top; position:relative; top:5px;}

/* clear float, modern browsers */
.cf:before,
.cf:after {
  content:""; display:table;}

.cf:after {
  clear:both;}

/* clear float, IE 6/7 (triggers hasLayout) */
.cf {
  *zoom:1;}


  
  
/*------------------------------------------------------------------------------------------------------------
    $HEADER
  ------------------------------------------------------------------------------------------------------------*/
#topnav {
  width: 100%; height: 65px; position: fixed; 
  background: none; z-index: 300; top:0px; transition: 1s;  
  ul {
    position: relative; top:20px;
    text-align: center; width: 320px; margin:0 auto;}
  li {
    text-transform: capitalize; font-size: 17px; display: block; float:left;
    margin-right:6px; vertical-align: top; padding-top:20px; width: 50px; color: #000;
    img {margin-top:-27px;}}
  li.logo {width:75px;}
  .left {margin-right:12px;}
  .indicator {
    display: none;
    position: relative;
    top:0;
    width: 320px;
    margin:0 auto;
    .icon-caret-down {
      color: $red; 
      position: absolute;  
      font-size: 35px;
      left:15px;
      top:51px;}}}/* #topnav */


/* Original topnav styles
#topnav {
  width: 100%; height: 65px; position: fixed; background: $red; z-index: 300;
  ul {
    position: relative; top:20px;
    text-align: center; width: 320px; margin:0 auto;}
  li {
    text-transform: capitalize; font-size: 17px; display: block; float:left;
    margin-right:6px; vertical-align: top; padding-top:20px; width: 50px;
    img {margin-top:-27px;}}
  li.logo {width:75px;}
  .left {margin-right:12px;}
  .indicator {
    position: relative;
    top:0;
    width: 320px;
    margin:0 auto;
    .icon-caret-down {
      color: $red; 
      position: absolute;  
      font-size: 35px;
      left:15px;
      top:51px;}}}/* #topnav */
  
  
  
/*------------------------------------------------------------------------------------------------------------
    $CORE LAYOUT
  ------------------------------------------------------------------------------------------------------------*/

.image {
  width: 100%; display: inline-block; vertical-align: middle;
	font: 0/0 serif; text-shadow: none; color: transparent;
	background-size: 100%; background-position: 50% 50%; background-repeat: no-repeat;}
.image .inner {
  display: block; height: 0;}

.hero {
  .image .inner {
  	padding-top: 65.3%; /* height/width of image */}}


.main-content {

  .sect-head {
    height: 60px; width: 100%; position: relative; z-index: 200;
    background: $red; opacity: 0.8; text-align: center;
    .icon-caret-down {
      font-size: 70px; position: absolute; margin-left: -15px;
      top:30px; color: rgba(238, 60, 33, 0.8);}}}/* .main-content */
.example {
  position: relative; z-index: 100;
  .image .inner {
  	padding-top: 51.1%; /* height/width of image */}
  h2 {
    position: absolute; top:5%; left:5%;width: 60%; 
    @include normal-fontItalic; font-size: 28px; line-height: 30px;}
  h3 {
    position: absolute; top:50%; left:5%;
    a img{ vertical-align: middle; margin-top:-5px; margin-left: 5px;}}  
  p {
    position: absolute; top:40%; left:5%;
    font-size: 14px;}} /* .example */
.example.shutterfly-case {
  h2 {top:0;}
  p  {top:55%;}
  h3 {top:65%;}}
.example.klondike-case {
  h2 {left:32%;}
  p  {top:45%; left:32%;}
  h3 {top:58%; left:32%;}}
.example.perdue-case {
  h2 {width: 80%;}
  p  {top:60%;}
  h3 {top:70%;}
}  





  
  
  
  
/* default screen, non-retina */
.example #shutterfly-case { background-image: url("../img/shutterfly-bg948.jpg"); }
.example #klondike-case { background-image: url("../img/klondike-bg948.jpg"); }
.example #perdue-case { background-image: url("../img/perdue-bg948.jpg"); }
.hero #heroImage { background-image: url("../img/go-do1-320.jpg");}

@media only screen and (max-width: 320px) {
    /* Small screen, non-retina */
    .example #shutterfly-case { background-image: url("../img/shutterfly-bg320.jpg"); }
    .example #klondike-case { background-image: url("../img/klondike-bg320.jpg"); }
    .example #perdue-case { background-image: url("../img/perdue-bg320.jpg"); }
    .hero #heroImage { background-image: url("../img/go-do1-320.jpg");}    
}
@media only screen and (min-resolution: 2dppx) and (max-width: 320px) {
    /* Small screen, retina */
    .example #shutterfly-case { background-image: url("../img/shutterfly-bg320@2x.jpg"); }
    .example #klondike-case { background-image: url("../img/klondike-bg320@2x.jpg"); }
    .example #perdue-case { background-image: url("../img/perdue-bg320@2x.jpg"); }
}
@media only screen and (min-width: 321px) and (max-width: 538px) {
    /* Medium screen, non-retina */
    .example #shutterfly-case { background-image: url("../img/shutterfly-bg500.jpg"); }
    .example #klondike-case { background-image: url("../img/klondike-bg500.jpg"); }
    .example #perdue-case { background-image: url("../img/perdue-bg500.jpg"); }
}
@media only screen and (min-resolution: 2dppx) and (min-width: 321px) and (max-width: 538px) {
    /* Medium screen, retina */
    .example #shutterfly-case { background-image: url("../img/shutterfly-bg500@2x.jpg"); }
    .example #klondike-case { background-image: url("../img/klondike-bg500@2x.jpg"); }
    .example #perdue-case { background-image: url("../img/perdue-bg500@2x.jpg"); }
}
@media only screen and (min-resolution: 2dppx) and (min-width: 539px) {
    /* Large screen, retina */
    .example #shutterfly-case { background-image: url("../img/shutterfly-bg948@2x.jpg"); }
    .example #klondike-case { background-image: url("../img/klondike-bg948@2x.jpg"); }
    .example #perdue-case { background-image: url("../img/perdue-bg948@2x.jpg"); }
}
  
  
/*------------------------------------------------------------------------------------------------------------
    $FOOTER
  ------------------------------------------------------------------------------------------------------------*/        